<% @title = "Search by Ingredient" %>

<div class="ingredients">
  <h1>Search recipes by the following ingredients:</h1>
    
    <div class="ingredient_list">
      <ul>
        <li><%= link_to "Amaranth", search_path(:query=>"amaranth", :from=>"recipes") %></li>       
       <li><%= link_to "Apple", search_path(:query=>"apple", :from=>"recipes") %></li>
       <li><%= link_to "Black Beans", search_path(:query=>"black beans", :from=>"recipes") %></li>   
       <li><%= link_to "Cumin", search_path(:query=>"cumin", :from=>"recipes") %></li>
       <li><%= link_to "Garbanzo Beans", search_path(:query=>"garbanzo beans", :from=>"recipes") %></li>   
       <li><%= link_to "Lentils", search_path(:query=>"lentil", :from=>"recipes") %></li>       
       <li><%= link_to "Onion", search_path(:query=>"onion", :from=>"recipes") %></li>   
       <li><%= link_to "Tomatoes", search_path(:query=>"tomato", :from=>"recipes") %></li>   
       <li><%= link_to "Zucchini", search_path(:query=>"zucchini", :from=>"recipes") %></li>
     </ul>
    </div>
  
</div>