<% @title = "Search by Ingredient" %>

<div class="ingredients">
  <h1>Search recipes by the following ingredients:</h1>
    
    <div class="ingredient_list">
      <ul>
       <li>Apples</li>
       <li><%= link_to "Black Beans", search_path(:query=>"black beans") %></li>   
       <li><%= link_to "Lentils", search_path(:query=>"lentil") %></li>       
       <li><%= link_to "Onion", search_path(:query=>"onion") %></li>   
       <li><%= link_to "Tomatoes", search_path(:query=>"tomato") %></li>   
       <li><%= link_to "Zucchini", search_path(:query=>"zucchini") %></li>   
     </ul>
    </div>
  
</div>