<div class="field">
    <%= post.label :title, "Post Title" %><br />
    <%= post.text_field :title %>
  </div>
<div class="field">
  <%= post.label :text %><br />
  <%= post.text_area :text, :size => "70x10" %>
</div>
<div>
  <%= post.label :photo, "Upload a photo" %><br />
  <%= post.file_field :photo %>
</div>

<div class="actions">
  <%= post.submit "Create Post" %>
</div>
<div class="actions">
	<%= submit_tag 'Cancel' %>  
</div>