<%= link_to("Back to List", admin_posts_path, :class => 'back_link') %>

<h1>Update post</h1>

<%= form_for(@post, :url => {:action => 'update', :id => @post.id}) do |post| %>
 
	<div class="field">
	    <%= post.label :title, "Post Title" %><br />
	    <%= post.text_field :title %>
	  </div>
  <div class="field">
    <%= post.label :text %><br />
    <%= post.text_area :text %>
  </div>
  <div>
    <%= image_tag @post.photo.url, :class => "upload_thumbnail" %>
    <%= post.label :delete_photo, "Delete current photo" %>
    <%= post.check_box(:delete_photo) %><br />
    <%= post.label :photo, "Upload a photo" %><br />
    <%= post.file_field :photo%>
  </div>
  <div class="actions">
    <%= submit_tag "Update Post" %>
  </div>
<% end%>