<%
@title = (@post.new_record?) ? "Admin New Post" : "Admin Edit Post"
%>


<%= link_to("Back to List", admin_posts_path, :class => 'back_link') %>

<h1><%=@title%></h1>

<%= form_for([:admin, @post], :html => {:multipart => true}) do |post| %>
 <%= error_messages_for(@post) %>
 
<%= render :partial => "layouts/form", :locals => { :post => post } %>
 
  <div class="actions">
    <%= post.submit "Submit", :class=>"button" %><%=link_to("Cancel", admin_posts_path, :class=>"button")%>
  </div>
<% end%>

