<%
@title = (@post.new_record?) ? "New Post" : "Edit Post"
%>


<%= link_to("Back to List", admin_posts_path, :class => 'back_link') %>

<h1><%=@title%></h1>

<%= form_for([:admin, @post], :html => {:multipart => true}) do |f| %>
 <%= error_messages_for(@post) %>
 
	<div class="field">
	    <%= f.label :title, "Post Title" %><br />
	    <%= f.text_field :title %>
	  </div>
  <div class="field">
    <%= f.label :text %><br />
    <%= f.text_area :text, :size => "70x10" %>
  </div>
  <div>
    <% if @post.new_record? %>
      <%= f.label :photo, "Upload a photo" %><br />
      <%= f.file_field :photo %>
    <% else %>
      <%= image_tag @post.photo.url, :class => "upload_thumbnail" %>
      <%= f.label :delete_photo, "Delete current photo" %>
      <%= f.check_box(:delete_photo) %><br />
      <%= f.label :photo, "Upload a photo" %><br />
      <%= f.file_field :photo%>
    <% end %>
  </div>
 
  <div class="actions">
    <%= f.submit "Submit", :class=>"button" %><%=link_to("Cancel", admin_posts_path, :class=>"button")%>
  </div>
<% end%>

