<%= link_to("Back to List", admin_posts_path, :class => 'back_link') %>

<h1>New post</h1>

<%= form_for(@post, :html => {:multipart => true}, :url => {:action => 'create'}) do |post| %>
 
	<div class="field">
	    <%= post.label :title, "Post Title" %><br />
	    <%= post.text_field :title %>
	  </div>
  <div class="field">
    <%= post.label :text %><br />
    <%= post.text_area :text %>
  </div>
  <div>
    <%= post.label :photo, "Upload a photo" %><br />
    <%= post.file_field :photo %>
  </div>
 
  <div class="actions">
    <%= post.submit "Create Post" %>
  </div>
	<div class="actions">
		<%= submit_tag 'Cancel' %>  
	</div>
<% end%>

