<% @title = "Search Results" %>

<div class="results">
  
  
  <% if @from_recipes.present? %>
    <%= link_to("Back to list of ingredients", recipes_path, :class => 'back_link') %>
  <% end %>
  
  <h2>Your search criteria "<%= params[:query] %>" produced <%= pluralize(@posts.count, "result") %></h2>
  
    <% @posts.each do |post| %>
      <h1><%= link_to(post.title, post_path(post)) %></hl>
        <h3 class="entry">by Admin on <%= post.created_at.to_s(:custom) %></h3>        
      <hr />
    <% end %>
  
</div>
