<header>
	<%= image_tag("peas.gif", :alt => "peas")%>
	<div class="center">
		<h1>Clean Eats</h1>
		<h2>The journey to clean eating</h2>
	</div>
	<div id="nav">
		<ul>
			<li><%= link_to "Home", "/" %> |</li>
			<li><%= link_to "Recipes", recipes_path %> |</li>
			<li><%= link_to "What is Clean Eating?", whatis_path %> |</li>
			<li><%= link_to "Contact", contact_path %> |</li>
			<li><%= link_to "About", about_path %> |</li>
			<li><a>Products</a></li>
		</ul>
	</div><!-- end of nav -->
</header>


