<!DOCTYPE html>
<html>
	<head>
  		<title><%= title(@title) %></title>
  			<%= csrf_meta_tag %>
			<%= render 'layouts/stylesheets' %>
	</head>
	<body>
		<div class="container">
      <div class="header">
  			<%= render 'layouts/header' %>
  		</div><!-- end header -->
		
  		<!-- begin second half -->
	  			  
		  <div class="center" id="sidebar"> 
      	
      	<div class="search" >
      	  <h3>Search this site</h3>		
      	  <%= form_tag(search_path, :method => "get") do %>
            <%= label_tag(:query, "Search for:") %>
            <%= text_field_tag(:query) %>
            <%= submit_tag("Search") %>
          <% end %>
        </div>
        
          <%= render 'layouts/tag_cloud' %>    
               
         <div id="food_gallery">
       	   <h3>Food Gallery</h3>    			
              <div class="food_gallery_images">
              <%= link_to image_tag("thumbnail/Veggie_Chili_thumbnail.jpg", :size=>"60x60", :class=>"thumbnail"), asset_path('fullscreen/Veggie_Chili_fullscreen.jpg'), :rel => "prettyPhoto[pp_gal]" %>
              <%= link_to image_tag("thumbnail/moroccan_lentil_stew_thumbnail.jpg", :size=>"60x60", :class=>"thumbnail"), asset_path("fullscreen/moroccan_lentil_stew_fullscreen.jpg"), :rel => "prettyPhoto[pp_gal]" %>
              <%= link_to image_tag("thumbnail/black_bean_dip_thumbnail.jpg", :size=>"60x60", :class=>"thumbnail"), asset_path("fullscreen/black_bean_dip_fullscreen.jpg"), :rel => "prettyPhoto[pp_gal]" %>
              <%= link_to image_tag("thumbnail/Veggie_Chili_thumbnail.jpg", :size=>"60x60", :class=>"thumbnail"), asset_path("fullscreen/Veggie_Chili_fullscreen.jpg"), :rel => "prettyPhoto[pp_gal]" %>
              <%= link_to image_tag("thumbnail/moroccan_lentil_stew_thumbnail.jpg", :size=>"60x60", :class=>"thumbnail"), asset_path("fullscreen/moroccan_lentil_stew_fullscreen.jpg"), :rel => "prettyPhoto[pp_gal]" %>
              <%= link_to image_tag("thumbnail/black_bean_dip_thumbnail.jpg", :size=>"60x60", :class=>"thumbnail"), asset_path("fullscreen/black_bean_dip_fullscreen.jpg"), :rel => "prettyPhoto[pp_gal]" %>
            	</div>
            
       	</div><!-- end rounded-corners, food-gallery -->
       	
      </div> <!--  end sidebar -->

			<div>
					<% flash.each do |key, value| %>
						<div class="flash <%= key %>"><%= value %></div>
			 		<% end %>
      			<div id="content"><%= yield %></div>
			</div>
				<%= render 'layouts/footer' %>
		</div><!-- end container -->
	</body>
</html>
